html {
  height: 100%;
  width: 100%;
  font-family: "Questrial", sans-serif;
}
.cover-page{
  background-color: purple;
  text-align: center;
  font-family: "Questrial", sans-serif;
  position: relative;
  min-width: 50%;
}

.carousel firts image{
  height: 20%;
  width: 50%;
}

.page1{
  background-color: brown;
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-header{
  font-family: "Marcellus", serif;
  font-weight: bold;
}

.header-titles{
  text-align: center;
}

.homenavbar{
  background-color: #ffffff;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.navbar-brand{
  font-family:"Marcellus", serif;
}

.top-page{

}

.sample{
  margin: 10px;
}
.projects{
  background-color: gray;
  font-family: "Questrial", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
}


  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

body {
  background: #f7f7f7;
}

.about-page-header{
   text-align: center;
  font-family:"Marcellus", serif;
  margin-top: 2%;
}
.about-me-text{
    text-align: center;
  font-famiy:"Questrial", sans-serif;
}
.Light-And-Expanses{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 20px solid #0000;
  
}
.photo1{
width: 500px;
height: 300px;
margin: 5%;
}
.photo1:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.photo2{
  width: 500px;
  height: 300px;
  margin: 5%;
}
.photo2.photo2:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}

@media (max-width: 480px){
  div.projects{
    
    flex-direction: column;
    justify-content: center;
  }
}
